<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
   
    <main class="">
        <div class="col-12 col-md-10 mx-auto mt-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= genre.name %>
                               
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4">

                        </div>
                        <div class="col-12 col-md-8">
                            <ul class="list-group list-gropu-flush">
                                <li class="list-group-item"><b> Título: </b>
                                    <%= genre.name %>
                                </li>
                                <li class="list-group-item"><b> Ranking: </b>
                                    <%= genre.ranking %>
                                </li>


<%- include('partials/scripts') %>
</body>
</html>