<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>  

        <main class="">
            <div class="col-12 col-md-10 mx-auto mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/movies">Pelicula editada</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <%= movie.title %>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="card-body">
                        <form action="/movies/update/<%= movie.id %>?_method=PUT" method="POST">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="title" class="form-label">Título </label>
                                <input type="text" class="form-control" name="title" id="" value="<%= movie.title %>"
                                    required>
                            </div>
                            <div class="mb-3 col-12 col-md-3">
                                <label for="rating" class="form-label">Rating </label>
                                <input type="number" class="form-control" name="rating" id=""
                                    value="<%= movie.rating %>" required>
                            </div>
                            <div class="mb-3 col-12 col-md-3">
                                <label for="awards" class="form-label">Premios</label>
                                <input type="number" class="form-control" name="awards" id=""
                                    value="<%= movie.awards %>" required>
                            </div>
                            <div class="mb-3 col-12 col-md-3">
                                <label for="release_date" class="form-label">Release date </label>
                                <input type="date" class="form-control" id="release_date"
                                    value="<%= moment(movie.release_date).format('YYYY-MM-DD') %>"  name="release_date">
                            </div>
                            <div class="mb-3 col-12 col-md-3">
                                <label for="length" class="form-label">Duración </label>
                                <input type="number" class="form-control" name="length" id=""
                                    value="<%= movie.length %>" required>
                            </div>
                            <div class="mb-3 col-12 col-md-3">
                                <label for="genre_id" class="form-label">Género </label>
                                <select name="genre_id" class="form-control" id="" required>
                                    <% genres.forEach(genre=> { %>
                                        <option value="<%= genre.id %>" <%=genre.id===movie.genre_id && 'selected' %>>
                                            <%= genre.name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="mb-3 col-12">
                                <label class="form-label">Actores</label>
                                <hr>
                            <div class="mb-3 col-12">
                            <div class="row">
                                <% actors.forEach(actor=> { %>
                                 <div class="col-12 col-md-3 col-lg-2"> 
                                    <div class="form-check">
                                     <input name="actors" class="form-check-input" type="checkbox" <%= movie.actors.map(actor => actor.id).includes(actor.id) && 'checked' %> value="<%= actor.id %>" id="actor<%= actor.id %>">
                                    <label class="form-check-label" for="actor<%= actor.id %>"> <%= actor.first_name %>  <%= actor.last_name %>
                                     </label>
                                 </div>
                                 </div>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="mb-3 col-12 col-md-3 d-flex justify-content-end">
                                <button class="btn btn-outline-dark">Actualizar</button>
                          
                            </div>
                        </form>
                        </section>
                    </div>
                </div>
            </div>
            
    </body>

</html>