<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <main class="">
            <div class="col-12 col-md-10 mx-auto mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Peliculas </li>
                            </ol>
                        </nav>
                        <a href="/movies/add" class="btn btn-outline-dark">Agregar una Pelicula</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TÍTULO</th>
                                <th scope="col">RATING</th>
                                <th scope="col">PREMIOS</th>
                                <th scope="col">GÉNERO</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% movies.forEach(movie=> { %>


                                <tr>
                                    <th scope="row">
                                        <%= movie.id %>
                                    </th>
                                    <td>
                                        <%= movie.title %>
                                    </td>
                                    <td>
                                        <%= movie.rating %>
                                    </td>
                                    <td>
                                        <%= movie.awards %>
                                    </td>
                                    <td>
                                        <%= movie.genre?.name %>
                                    </td>
                                    <td>
                                        <div clas="d-flex gap-2">
                                            <a href="/movies/detail/<%= movie.id %>" class="btn btn-outline-dark"> <i
                                                    class="fas fa-eye"></i></a>
                                            <a href="/movies/edit/<%= movie.id %>" class="btn btn-outline-dark"> <i
                                                    class="fas fa-edit"></i></a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#movieModal<%= movie.id %>">
    <i class="fas fa-trash"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="movieModal<%= movie.id %>" tabindex="-1" aria-labelledby="movieModal<%= movie.id %>Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="movieModal<%= movie.id %>Label">ADVERTENCIA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Seguro que desea eliminar la pelicula <b>
            <%= movie.title %></b>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form action="/movies/delete/<%= movie.id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-primary">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>


                                            
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>   
                        </tbody>   
                    </table>    
                </div>
            </div>    
        </main>
     <%- include('partials/scripts') %>

    </body>

</html>